* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

CHANGELOG.md export-ignore
README.md export-ignore
.github/workflows/browser-tests.yml export-ignore

gen/go/**/*.pb.go linguist-generated=true
gen/go/**/*.pb.gw.go linguist-generated=true
gen/go/**/*_grpc.pb.go linguist-generated=true
gen/openapi/*.json linguist-generated=true
