GO_API_HTTP_PORT=8080
GO_API_LOG_LEVEL=debug
GO_API_ALLOW_ORIGIN=http://localhost:8000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_QUEUE=poofmq:default

DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=poofmq
DB_USERNAME=poofmq
DB_PASSWORD=poofmq

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

RAILWAY_ENVIRONMENT_NAME=local
RAILWAY_PROJECT_ID=
